div.container
{
    width: 100%;
    border: 1px solid gray;
}

header, footer
{
    padding:  1em;
    color: white;
    background-color: #161414;
    clear: left;
    text-align: center;
}

nav
{
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul
{
    list-style-type: none;
    padding: 0;
}

nav ul a
{
    text-decoration: none;
}

article
{
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden; 
}

h1
{
    font-family: Arial;
    font-size: 30px;
    color: black;
}
h2
{
    color: black;
}
h3
{
    color: white;
}

.bred
{
    width: 60%;
}

body {
    background-color: rgba(0,0,0,.2);
    margin: 0;
}

.bild1
{
    position: absolute;
    float: left;
    left: 70%;
    width: 350px; 
    height: 230px;
    top: 250px;
}

.bild2
{
    position: absolute;
    float: left;
    left: 70%;
    width: 350px; 
    height: 230px;
    top: 550px;
}

.bild3
{
    position: absolute;
    float: left;
    left: 70%;
    width: 350px; 
    height: 230px;
    top: 850px;
}

.bild4
{
    position: absolute;
    float: left;
    left: 70%;
    width: 350px; 
    height: 230px;
    top: 1150px;
}

.bild5
{
    position: absolute;
    float: left;
    left: 70%;
    width: 350px; 
    height: 230px;
    top: 1450px;
}

.bild6
{
    position: absolute;
    float: left;
    left: 70%;
    width: 350px; 
    height: 230px;
    top: 1750px;
}

.bild7
{
    position: absolute;
    float: left;
    left: 70%;
    width: 350px; 
    height: 230px;
    top: 2050px;
}

.bild8
{
    position: absolute;
    float: left;
    left: 70%;
    width: 350px; 
    height: 230px;
    top: 2350px;
}

.bild9
{
    position: absolute;
    float: left;
    left: 70%;
    width: 350px; 
    height: 230px;
    top: 2650px;
}

.bild10
{
    position: absolute;
    float: left;
    left: 70%;
    width: 350px; 
    height: 230px;
    top: 2950px;
}

.bild11
{
    position: absolute;
    float: left;
    left: 70%;
    width: 350px; 
    height: 230px;
    top: 3250px;
}

.bild12
{
    position: absolute;
    float: left;
    left: 70%;
    width: 350px; 
    height: 230px;
    top: 3550px;
}

.bild13
{
    position: absolute;
    float: left;
    left: 70%;
    width: 350px; 
    height: 230px;
    top: 3850px;
}

.bild14
{
    position: absolute;
    float: left;
    left: 70%;
    width: 350px; 
    height: 230px;
    top: 4150px;
}

.bild15
{
    position: absolute;
    float: left;
    left: 70%;
    width: 350px; 
    height: 230px;
    top: 4450px;
}

.bild16
{
    position: absolute;
    float: left;
    left: 70%;
    width: 350px; 
    height: 230px;
    top: 4750px;
}

.bild17
{
    position: absolute;
    float: left;
    left: 70%;
    width: 350px; 
    height: 230px;
    top: 5050px;
}

.bild18
{
    position: absolute;
    float: left;
    left: 68%;
    width: 360px; 
    height: 210px;
    top: 95px;
}